.communityContainer{
    height: 100vh;
    // width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #b691ff;
    position: relative;
    z-index: 10000;

}

.communityTitle{
    font-size: 5em;
    margin-bottom: 2vh;
    text-align: center;
}

.communityParagraphContainer{
    width: 60%;

}

.communityParagraphContainer{
    p{
        text-align: center;
    }
}