.communityContainer{
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #b691ff;
    position: relative;
    z-index: 10000;

}

.communityTitle{
    font-size: 4em;
    margin-bottom: 2vh;
    text-align: center;
}

.communityLinksContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.communityLinks{
    width: 40%;
}

.communityNameAndImage{
    width: 100%
}

.communityImage{
    width: 100%;
    border-radius: 5%;
}