.aboutContainer{
    height: 70vh;
    width: 100%;
    background-color: #FFE8FF;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.aboutTitle{
    font-size: 5em;
    margin-bottom: 2vh;
    text-align: center;
}

.aboutParagraphContainer{
    width: 60%;

}

.linksContainer{
    display: flex;
    justify-content: center;
}

.aboutLinks{
    text-decoration: inherit;
    color: inherit;
    margin: 10px;
}

.fa-icons{
    font-size: 30px;
}
