.aboutContainer{
    height: 100vh;
    width: 100vw;
    background-color: #dbc8ff;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.aboutTitle{
    font-size: 5em;
    margin-bottom: 5vh;
    text-align: center;
}

.aboutParagraphContainer{
    width: 60%;

}